body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 660px;
    margin: 0 auto;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.left, .center, .right {
    width: 200px;
    height: auto;
}

.img img {
    max-width: 100%;
	height: auto;
}

.center, .right {
    align-self: flex-end;
}

.l:hover {
    transform: rotate(140deg) translate(120px, 280px);
}

.c:hover {
    transform: rotate(110deg);
}

.r:hover {
    transform: rotate(120deg) translate(-75px,-225px);
}