body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 660px;
    margin: 0 auto;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.left, .center, .right {
    width: 200px;
    height: auto;
}

.img img {
    max-width: 100%;
	height: auto;
}

.center, .right {
    align-self: flex-end;
}

.l:hover {
    transform: scale(1.75) translate(20px, 60px);
}

.c:hover {
    transform: scale(1.5) translate(-1px, -1px);
}

.r:hover {
    transform: scale(1.5) translate(-34px, -19px);
}